@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgba(211, 248, 3, 0.957), rgba(215, 245, 40, 0.7));
    background-image:linear-gradient(to right, rgba(45, 43, 43, 0.7), rgba(0, 0, 0, 0.7)), url(/Img/nosotrosImg4.jpg);
    background-size: cover;
    background-position: center;
}
    /*---- Inicio del Header---- */
header{
    background-image:linear-gradient(to right, rgba(45, 43, 43, 0.7), rgba(0, 0, 0, 0.7));
    background-size: cover;
    background-position: 50% 40%;
    position: relative;
}
header .navbar-nav a:hover{
    background-color: rgb(186, 173, 31);
    border-radius: 8px;
}
    /*---- Fin del Header---- */

    /*---- Animacion de las Card---- */
.descripcion{
    height: 25px;
    overflow: hidden;
    transition: heigth 3s ease-in .3s;
}
.descripcion:hover{
    height: 80px;
}
    /*---- Fin de las Animaciones---- */